# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Aligner'
      'submenu': [
        { 'label': 'Align', 'command': 'aligner:align' }
      ]
    ]
  }
]
